@import url("reset.css");
:root {
  --cyan-300: hsl(192, 90%, 77%);
  --cyan-600: hsl(192, 37%, 48%);
  --purple-300: hsl(268, 100%, 86%);
  --purple-600: hsl(268, 34%, 53%);
  --slate-300: hsl(240, 18%, 85%);
  --slate-600: hsl(240, 10%, 57%);
  --slate-900: hsl(240, 21%, 20%);
  --white: hsl(0, 0%, 98%);
  --font-weight-black: 900;
  --font-weight-medium: 500;
}

.text-preset-1, .hero_section_heading {
  font-weight: var(--font-weight-black);
  font-size: 2.5rem;
  line-height: 110%;
  letter-spacing: 0rem;
}

.text-preset-2, .footer_description div, .article_description .article_description_header h1 {
  font-weight: var(--font-weight-black);
  font-size: 2.5rem;
  line-height: 110%;
  letter-spacing: 0rem;
}

.text-preset-3, .article_description .article_description_header h3 {
  font-weight: var(--font-weight-black);
  font-size: 1rem;
  line-height: 110%;
  letter-spacing: 0.25rem;
}

.text-preset-4, .footer_description p, .article_description p, .hero_section_description {
  font-weight: var(--font-weight-medium);
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: 0rem;
}

.text-preset-5, .footer_description .footer_button, .page_number_2 .circle p, .buttons-container button:nth-of-type(1),
.buttons-container button:nth-of-type(2) {
  font-weight: var(--font-weight-black);
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0rem;
}

* {
  font-family: "Red Hat Display", serif;
  font-optical-sizing: auto;
}

html,
body {
  overflow-x: hidden;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-inline: clamp(32px, 6vw, 80px);
  padding-block: 4rem;
}

.hero_section {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}

.hero_section_heading {
  color: var(--slate-900);
}

.hero_section_description {
  color: var(--slate-600);
}

.left-img img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  right: 5.938rem;
}

.right-img img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  top: 3.563rem;
  left: 5.938rem;
}

.desktop-img {
  display: none;
}

.mobile-img {
  display: block;
  position: relative;
  min-width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  left: -40px;
  right: -260px;
}

nav {
  display: flex;
  padding-top: clamp(40px, 6vw, 80px);
  justify-content: center;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 1.063rem;
  margin-inline: auto;
  align-items: center;
}
.buttons-container button {
  border: 0;
  border-radius: 1.813rem;
  padding: 1rem 2.5rem;
}

.buttons-container button:nth-of-type(1),
.buttons-container button:nth-of-type(2) {
  transition: all 0.5s linear;
  color: var(--white);
  cursor: pointer;
}
.buttons-container button:nth-of-type(1) {
  background-color: var(--cyan-600);
}
.buttons-container button:nth-of-type(1) span {
  display: inline;
  color: var(--cyan-300);
}
.buttons-container button:nth-of-type(1):hover {
  opacity: 0.8;
}
.buttons-container button:nth-of-type(2) {
  background-color: var(--purple-600);
}
.buttons-container button:nth-of-type(2):hover {
  opacity: 0.8;
}

#screen_2 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-inline: clamp(32px, 12vw, 160px);
  padding-block: clamp(32px, 2vw, 56px) 4rem;
}
#screen_2 .page_number_1 {
  display: flex;
  justify-content: center;
}

.article_grid {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  gap: 2rem;
}
.article_grid img {
  border-radius: 0.5rem;
}

.article_description,
.article_description_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article_description {
  gap: 2rem;
  text-align: center;
}
.article_description .article_description_header {
  gap: 1rem;
}
.article_description .article_description_header h3 {
  color: var(--cyan-600);
  text-transform: uppercase;
}
.article_description .article_description_header h1 {
  color: var(--slate-900);
}
.article_description p {
  color: var(--slate-600);
}

.page_number_2 {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: -28px;
}
.page_number_2 .bar {
  width: 1px;
  height: 80px;
  background-color: var(--slate-300);
  margin-inline: auto;
}
.page_number_2 .circle {
  width: 55px;
  height: 55px;
  background-color: var(--white);
  border-radius: 50%;
  border: 1px solid var(--slate-300);
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page_number_2 .circle p {
  color: var(--slate-600);
}

.footer_description {
  padding: 4rem 2rem;
  background-image: linear-gradient(rgba(77, 150, 168, 0.8), rgba(77, 150, 168, 0.8)), url("../assets/desktop/image-footer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  gap: 2rem;
  color: var(--white);
}
.footer_description .footer_button {
  transition: all 0.5s linear;
  color: var(--white);
  cursor: pointer;
  background-color: var(--purple-600);
  border: 0;
  border-radius: 1.813rem;
  padding: 1rem 2.5rem;
}
.footer_description .footer_button span {
  color: var(--purple-300);
  display: inline;
}
.footer_description .footer_button:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .buttons-container {
    flex-direction: unset;
  }
  .article_grid {
    grid-template-columns: repeat(4, auto);
    row-gap: 0;
  }
  .hero_section_heading {
    font-weight: var(--font-weight-black);
    font-size: 4.063rem;
    line-height: 110%;
    letter-spacing: 0rem;
  }
}
@media (min-width: 1000px) {
  .footer_description {
    padding: 7rem 10rem;
    grid-template-columns: 1.5fr 1fr 1fr;
    place-items: normal;
  }
  .footer_description .footer_button {
    float: right;
  }
  .article_description {
    margin-inline: auto;
    max-width: 40%;
  }
  .desktop-img {
    display: block;
  }
  .mobile-img {
    display: none;
  }
  .hero {
    flex-direction: unset;
  }
}/*# sourceMappingURL=styles.css.map */